.contact-section {
    padding: 40px 20px;
    text-align: center;
    background: #f8f8f8;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 25px;
    color: #ff7b00;
}

.contact-form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction:column;
    gap: 15px;
}
.contact-form textarea {
    height: 80px;
    width: 100%;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.contact-form button {
    padding: 14px;
    background: #ff7b00;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #e76b00;
}
.name{
    height: 30px;
    border: none;
    background: #fbd9bc90;
    border-radius: 9px;
    
}